<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/css/details.css">

</head>
<body>
    <h1>Game details</h1>


    <h2><%= items[0].gameName.gameName%></h2>
   <ul>
   
    <% items.forEach((oneItem)=>{ %>
    <p>Item Name: <%= oneItem.itemName %></p>
          
    <p>Rarity: <%= oneItem.itemRarity %></p>


            <a href="/items/update/<%= oneItem._id %>"class="button">Edit item</a>

        <form action="/items/delete/<%= oneItem._id %>" method="post">
            <button>delete</button>

    <% }) %>


    
</ul>

    
    <a href="/"class="button">Back to Home</a>

</body>
</html>