<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/css/mygames.css">

</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <h1>Games</h1>
    <hr>
  <hr>
  <ul>
    <% allGames.forEach(function(game) { %>
      <li>
          <h2><%= game.gameName %></h2>
      
        <a href="/games/<%= game._id %>"class="button">See Details</a>
      
        <form action="/games/delete/<%= game._id %>" method="post">
            <button>delete</button>
        </form>
            <a href="/games/update/<%= game._id %>"class="button">Edit game</a>

      </li>
    <% }) %>

 
  <Hr>
  <a href="/games/creategame" class="button">Create New game</a>
    <Hr>
    <a href="/"class="button">Back to Home</a>
  <hr>
</body>
</html>