<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My games</title>
        <link rel="stylesheet" href="/css/mygames.css">

</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <h1>My Games</h1>
    
  
  <ul>
    <% allGames.forEach(function(game) { %>
      <li>
          <h2><%= game.gameName %></h2>
      
        <a href="/games/<%= game._id %>"class="navbutton">Items</a>
      
        <form action="/games/delete/<%= game._id %>" method="post">
            <button>delete</button>
        </form>
            <a href="/games/update/<%= game._id %>"class="editbutton">Edit game</a>

      </li>
    <% }) %>

 <br><br><br>
  
  <a href="/games/creategame" class="lowbutton">Create New game</a>
    
    <a href="/"class="lowbutton">Back to Home</a>
  
</body>
</html>